.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #171717;
}

.login-card {
    background-color: #2C2C2C;
    color: #FFD800;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card.login-mode {
    transform: rotateY(0deg);
}

.login-card.signup-mode {
    transform: rotateY(180deg);
}

.form-control:focus {
    border-color: #FFD800;
    box-shadow: 0 0 0 0.2rem rgba(255, 216, 0, 0.25);
}

.form-button {
    background-color: #FFD800;
    color: #171717;
    border: none;
    margin-top: 10px;
    padding: 10px;
}

.form-button:hover {
    background-color: #E6C700;
}

.switch-button {
    color: #FFD800;
    background: none;
    border: none;
    margin-top: 10px;
}

.switch-button:hover {
    color: #E6C700;
}

.login-card .card-content {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.login-card .card-content.signup-content {
    transform: rotateY(180deg);
}