.navbar {
  background-color: #171717;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: #FFD800;
  margin-left: 20px;
}
.nav-item:hover {
  color: #cfb104;
}

.user-info {
  font-weight: bold;
}