/* Estilos base para el encabezado */
.h1-dolar {
    font-size: 24px; /* Tamaño de la fuente */
    color: #004d99; /* Color de la fuente, un azul oscuro */
    font-weight: bold; /* Hace el texto negrita */
    text-align: center; /* Centra el texto horizontalmente */
    margin: 20px 0; /* Margen arriba y abajo para separación */
  }
  
  /* Estilos cuando el precio está cargando */
  .loading {
    color: #999; /* Color gris cuando está cargando */
  }